<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bank | Add Transaction</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
    </style>
</head>
<body>

    <div class = "container mt-5">
        <div class = "card rounded shadow mt-5">
            <div class = "card-body">
                <div class = "container text-center mb-5">
                    <h1> Add Transaction </h1>
                </div>
                <form method = "POST">
                    {% csrf_token %}

                    <div class = "form-group row">
                        <div class = "col-sm-5">
                            <label>Transaction Type</label>
                        </div>
                        {% if display_val == "only_credit" %}
                            <div class = "col-sm-7">
                                <select class = "form-control" name = "transaction_type">
                                    <option selected disabled> Select </option>
                                    <option value = "credit"> Credit </option>
                                    <option disabled value = "debit"> Debit (No running balance in your account) </option>
                                </select>
                            </div>
                        {% else %}
                            <div class = "col-sm-7">
                                <select class = "form-control" name = "transaction_type">
                                    <option selected disabled> Select </option>
                                    <option value = "credit"> Credit </option>
                                    <option value = "debit"> Debit </option>
                                </select>
                            </div>
                        {% endif %}
                    </div>

                    <div class = "form-group row">
                        <div class = "col-sm-5">
                            <label>Amount</label>
                        </div>
                        <div class = "col-sm-7">
                            <input required class = "form-control" type = "number" min = "0" name = "amount">    
                        </div>
                    </div>

                    <div class = "form-group row">
                        <div class = "col-sm-5">
                            <label>Description</label>
                        </div>
                        <div class = "col-sm-7">
                            <textarea class = "form-control" name = "description"></textarea>
                        </div>
                    </div>

                    <div class = "form-group" style = "float: right;">
                        <button type = "submit" class = "btn btn-sm btn-success"> Add </button>
                        <a href = "/">
                            <button type = "button" class = "btn btn-sm btn-danger"> Cancel </button>
                        </a>
                    </div>

                </form>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>
</html>